<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/user/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
                <p>
                    <strong>id</strong>: {{ user._id}}<br>
                    <strong>email</strong>: {{ user.local.email}} <br>
                    <strong>password</strong>: {{user.local.password }}
                </p>
            </div>
        </div>
    </div>
</div>

{{#each orders}}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Total Price : {{this.cart.totalPrice}}$</strong> </div>
        <ul class="list-group">
            {{#each this.cart.items}}
                <li class="list-group-item">
                    <strong>{{this.item.title}}</strong> {{this.price}}$ <span class="badge">{{this.qty}}</span>
                </li>
            {{/each}}
        </ul>
    </div>
{{/each}}
