
<link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">

<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile</h1>

    </div>
    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="{{user.picture}}" class="img-responsive" alt="">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{user.email}}
                        </div>
                        <div class="profile-usertitle-job">

                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <h2>Hello {{user.nickname}}</h2>
                    <div class="profile-userbuttons">
    					<a class="btn btn-success btn-sm" href="/">Add picture</a>
              <a class="btn btn-danger btn-sm" href="/user/logout">Logout</a>

    				</div>
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li class="active">
                                <a href="/user/profile">
                                    <i class="glyphicon glyphicon-home"></i> Account Settings  </a>
                            </li>
                            <li>
                                <a href="/user/profile/orders">
                                    <i class="glyphicon glyphicon-user"></i> Orders</a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="glyphicon glyphicon-ok"></i> Tasks </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="glyphicon glyphicon-flag"></i> Help </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>
            <div class="col-md-9">

                <div class="profile-content">
                  Account Status: {{#if info.email_verified}}<h1>Verified</h1>{{/if}}
                  Account Details:
                  <ul>
                    <li><strong>Full Name: </strong>{{info.user_metadata.full_name}}</li>
                    <li><strong>Email:</strong> {{info.email}}</li>
                    <li><strong>Username:</strong> {{info.name}}</li>
                    <li><strong>Adress:</strong> {{info.user_metadata.address}}</li>
                    <li><strong>Created at:</strong> {{info.created_at}}</li>
                  </ul>
<button type="button" name="button">Edit user informations</button>





                  {{#if orders}}


                    {{#each orders}}
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>Total Price : {{this.cart.totalPrice}}$</strong> </div>
                            <ul class="list-group">
                                {{#each this.cart.items}}
                                    <li class="list-group-item">
                                        <strong>{{this.item.title}}</strong> {{this.price}}$ <span class="badge">{{this.qty}}</span>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    {{/each}}
                  {{/if}}
                </div>
            </div>
        </div>
    </div>
    <center>



        <strong>Powered by <a href="http://j.mp/metronictheme" target="_blank">KeenThemes</a></strong>
    </center>
    <br>
    <br>
